.chat-main
  .chat-main__group-info
    .info-box
      .info-box__title
        .group-name
          =@group.name
        .group-message
          - @group.users.each do |user|
            = user.name
      .info-box__edit
        = link_to new_group_path, class: "contents__btn" do
          Edit
  .chat-main__message-list
    .chat-comment
      = render @messages
      .chat-comment__name
        .group-name1
        .group-time1

      .chat-comment__name2
        
    -# .chat-next
    -#   .chat-next__name
    -#     .next-name1
    -#       user name2
    -#     .next-time2
    -#   .chat-next__name2
    -#     not message2

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .message-area
        = f.text_field :content, class: 'message-area1', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'contents__btn' 
          
  -# .chat-main__message-form
  -#   .message-area
  -#     .message-area1
  -#     .message-area2
  -#       %label{class: "input-box__image"}
  -#         = fa_icon 'picture-o'
  -#         %input{type: "file"}
  -#   .message-icon
  -#     = link_to "#", class: "contents__btn" do
  -#       Send

-# 　　.chat-main__message-form
-#   　　= form_for [@group, @message] do |f|
-#     　　= f.text_field :content, class: 'message-area1', placeholder: 'type a message'
-#     　　.message-area2
-#       　　= f.label :image, class: 'input-box__image' do
-#         　　= fa_icon 'picture-o'
-#         　　= f.file_field :image, class: 'hidden'
-#     　　= f.submit 'Send', class: 'contents__btn'        