.side-bar
  .side-bar__user-name 
    .top-items
      .top-items__name 
        = current_user.name
      .top-items__icons1
        = link_to new_group_path, class: "contents__btn" do
          = fa_icon 'pencil-square-o', class: 'icon'
        = link_to edit_user_path(current_user), class: "contents__btn" do
          = fa_icon 'cog', class: 'icon'

  .side-bar__group-list
    -current_user.groups.each do |group|
      .group-comment
        = link_to group_messages_path(group) do
          .group-comment__name1
            =group.name
          .group-comment__name2
            = group.show_last_message
